<!DOCTYPE html>

<html>
<head>
	<title>D4-Project</title>
	<link rel="icon" href="{{ url_for('static', filename='img/d4-logo.png')}}">
	<!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

  <style>
	.popover{
		max-width: 100%;
	}
  </style>


</head>

<body>

	{% include 'navbar.html' %}



		<div class="card mb-3 mt-1">
			<div class="card-header text-white bg-dark">
				<h5 class="card-title">Analyzer Queue: <b>{{queue_metadata['uuid']}}</b></h5>
			</div>
			<div class="card-body">

							<table class="table table-striped table-bordered">
								<thead class="thead-dark">
									<tr>
										<th>Type Name</th>
										<th>Group</th>
										<th style="max-width: 800px;">Name</th>
										<th style="max-width: 800px;">Last updated</th>
										<th style="max-width: 800px;">Change max size limit</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{%if queue_metadata['format_type'] == 254%}
												{{queue_metadata['extended_type']}}
											{%else%}
												{{queue_metadata['format_type']}}
											{%endif%}
										</td>
											{%if queue_metadata['is_group_queue']%}
												<td class="text-center"><i class="fa fa-group"></i></td>
											{%else%}
												<td></td>
											{%endif%}
										<td>
											<div class="d-flex">
												<b>{{queue_metadata['uuid']}}:{{queue_metadata['format_type']}}{%if queue_metadata['format_type'] == 254%}:{{queue_metadata['extended_type']}}{%endif%}</b>
											</div>
										</td>
										<td>{{queue_metadata['last_updated']}}</td>
										<td>
											<div class="d-xl-flex justify-content-xl-center">
												<input class="form-control mr-lg-1" style="max-width: 100px;" type="number" id="max_size_analyzer_{{queue_metadata['uuid']}}" value="{{queue_metadata['size_limit']}}" min="0" required="">
												<button type="button" class="btn btn-outline-secondary" onclick="window.location.href ='{{ url_for('analyzer_change_max_size') }}?analyzer_uuid={{queue_metadata['uuid']}}&redirect=0&max_size_analyzer='+$('#max_size_analyzer_{{queue_metadata['uuid']}}').val();">Change Max Size</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

				<form action="{{ url_for('analyzer_queue.edit_queue_analyzer_queue_post') }}" method="post" enctype=multipart/form-data>

					<input class="form-control" type="text" name="queue_uuid" id="queue_uuid" value="{{queue_metadata['uuid']}}" hidden>

					<div class="form-group my-2">
						<input class="form-control" type="text" name="description" id="analyzer_description" {%if 'description' in queue_metadata%}value="{{queue_metadata['description']}}"{%endif%} placeholder="Description - (Optional)">
					</div>

					<div>

						<br>

						<div for="first_sensor_uuid"><b>Sensor UUID</b></div>

						<div class="form-horizontal">
							<div class="form-body">
								<div class="form-group">
									<div class="fields">

										{% if l_sensors_uuid %}
											{% for sensor_uuid in l_sensors_uuid %}
											  {% with sensor_uuid=sensor_uuid, error=False%}
											    {% include 'analyzer_queue/block_add_sensor_to_group_block.html' %}
											  {% endwith %}
											{% endfor %}
											<br>
										{% endif %}
										{% if l_invalid_uuid %}
											{% for sensor_uuid in l_invalid_uuid %}
											  {% with sensor_uuid=sensor_uuid, error=True%}
											    {% include 'analyzer_queue/block_add_sensor_to_group_block.html' %}
											  {% endwith %}
											{% endfor %}
											<br>
										{% endif %}
										<div class="input-group mb-1">
											<input type="text" class="form-control col-10" name="first_sensor_uuid" id="first_sensor_uuid">
										  <span class="btn btn-info input-group-addon add-field col-2"><i class="fa fa-plus"></i></span>
										</div>
										<span class="help-block" hidden>Sensor UUID</span>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="form-group">
						<button class="btn btn-info" type="submit">Edit Queue</button>
					</div>

				</form>

			</div>
		</div>


	{% include 'navfooter.html' %}
</body>

<script>
$(document).ready(function(){
});


var input_part_1 = '<div class="input-group mb-1"><input type="text" class="form-control col-10" name="'
var input_part_2 = '"></div>'
var minusButton = '<span class="btn btn-danger input-group-addon delete-field col-2"><i class="fa fa-trash"></i></span>'

$('.add-field').click(function() {
	var new_uuid = uuidv4();
	var template = input_part_1 + new_uuid + input_part_2;
  var temp = $(template).insertBefore('.help-block');
  temp.append(minusButton);
});

$('.fields').on('click', '.delete-field', function(){
	console.log($(this).parent());
  $(this).parent().remove();
	//$.get( "#")
});

function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

</script>
