  <hr/ class="mb-0">
	<nav class="navbar bottom navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="https://www.circl.lu/">
	    <img src="{{ url_for('static', filename='img/circl.png')}}" alt="circl" class="h-100" style="width: 180px;">
	  </a>
	  <img src="{{ url_for('static', filename='img/cef.png')}}" alt="cef" class="h-100" style="width: 500px;">
		<ul class="navbar-nav ml-auto">
	    <li class="nav-item">
				<a class="navbar-brand" href="https://www.d4-project.org/">
		      <img src="{{ url_for('static', filename='img/d4-logo.png')}}" alt="D4 Project" style="width:70px;">
		    </a>
	    </li>
	    <li class="nav-item">
				<a class="navbar-brand" href="https://github.com/D4-project/d4-core">
		      <i class="fa fa-github fa-3x mt-1"></i>
		    </a>
	    </li>
	  </ul>
	</nav>
