<!DOCTYPE html>

<html>
<head>
	<title>D4-Project</title>
	<link rel="icon" href="{{ url_for('static', filename='img/d4-logo.png')}}">
	<!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

  <style>
	.popover{
		max-width: 100%;
	}
  </style>


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/d4-logo.png')}}" alt="D4 Project" style="width:80px;">
    </a>
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <a class="nav-link mr-3" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
	    </li>
	      <li class="nav-item" mr-3>
	        <a class="nav-link active mr-3" href="{{ url_for('sensors_status') }}">Sensors Status</a>
	      </li>
	      <li class="nav-item mr-3">
	        <a class="nav-link" href="{{ url_for('server_management') }}" tabindex="-1" aria-disabled="true">Server Management</a>
	      </li>
	    </ul>
	</nav>

	<div class="card mt-2 mb-2">
		<div class="card-body bg-dark text-white">
			<div class="row">
				<div class="col-8">
					<div class="custom-control custom-switch mt-2">
					  <input type="checkbox" class="custom-control-input" id="show_active_connection" {%if active_connection_filter%}checked value="True"{%else%}value=""{%endif%} onclick="window.location.href ='{{ url_for('show_active_uuid') }}?&show_active_connection='+$('#show_active_connection').val();">
					  <label class="custom-control-label" for="show_active_connection">Active Connection</label>
					</div>
				</div>
				<div class="col-4">
					<div class="form-row">
						<div class="col-10">
				  		<input type="text" class="form-control mt-1" id="search_uuid" placeholder="Search UUID">
						</div>
						<div class="col-2">
							<button type="button" class="btn btn-outline-light" onclick="window.location.href ='{{ url_for('uuid_management') }}?redirect=0&uuid='+$('#search_uuid').val();">
								<i class="fa fa-search fa-2x"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mx-2">
		<table class="table table-striped table-bordered table-hover text-center" id="myTable_1">
			<thead>
				<tr>
					<th class="bg-info text-white">UUID</th>
					<th class="bg-info text-white">first seen</th>
					<th class="bg-info text-white">last seen</th>
					<th class="bg-info text-white">types</th>
					<th class="bg-secondary text-white">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for row_uuid in status_daily_uuid %}
					<tr data-trigger="hover" title="" data-content="test content" data-original-title="test title">
						<td>
							<a class="" href="{{ url_for('uuid_management') }}?uuid={{row_uuid['uuid']}}">
								{{row_uuid['uuid']}}
							</a>
							<div class="text-info"><small>{{row_uuid['description']}}</small></div>
						</td>
						<td>{{row_uuid['first_seen_gmt']}}</td>
						<td>{{row_uuid['last_seen_gmt']}}</td>
						<td>
							{{type_description}}
							{% for uuid_type in row_uuid['l_uuid_types'] %}
								{% if row_uuid['type_connection_status'][uuid_type] %}
									<span class="badge badge-success" data-toggle="popover" data-trigger="hover" title="" data-content="{{types_description[uuid_type]}}" data-original-title="{{uuid_type}}">
										{{uuid_type}}
									</span>
								{% else %}
									<span class="badge badge-dark" data-toggle="popover" data-trigger="hover" title="" data-content="{{types_description[uuid_type]}}" data-original-title="{{uuid_type}}">
										{{uuid_type}}
									</span>
								{% endif %}
							{% endfor %}
						</td>
						<td
							{% if not row_uuid['Error'] %}
								div class="text-success">
						      OK -
							{% else %}
								div class="text-danger">
										<i class="fa fa-times-circle"></i> {{row_uuid['Error']}}
							{% endif %}
							{% if row_uuid['active_connection'] %}
									<i class="fa fa-check-circle"></i> Connected
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	{% include 'navfooter.html' %}
</body>

<script>
$(document).ready(function(){
	table = $('#myTable_1').DataTable(
		{
			"aLengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
			"iDisplayLength": 10,
			"order": [[ 0, "asc" ]]
		}
	);
	$('[data-toggle="popover"]').popover({
		placement: 'top',
		container: 'body',
		html : false,
	})
});

</script>
