[Save_Directories]
# By default all datas are saved in $D4_HOME/data/
use_default_save_directory = yes
save_directory = None

[D4_Server]
# registration or shared-secret
server_mode = registration
default_hmac_key = private key to change
analyzer_queues_max_size = 10000

[Flask_Server]
# UI port number
host = 127.0.0.1
port = 7000

[Redis_STREAM]
host = localhost
port = 6379
db = 0

[Redis_METADATA]
host = localhost
port = 6380
db = 0

[Redis_SERV]
host = localhost
port = 6380
db = 1

[Redis_ANALYZER]
host = localhost
port = 6380
db = 2

[Redis_CACHE]
host = localhost
port = 6380
db = 3
